.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #212529;
  color: white;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 2px;
  background-color: #212529;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 1rem;
}

.svg {
  width: 1rem;
}

table {
  color: #fff;
  background-color: #212529;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

table th {
  background-color: blue;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-color: #32383e;
}

table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #9b4fff;
  text-align: center;
}
